* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
 }
 .container {
     max-width: 1100px;
     margin: 0 auto;
 
 }
 .back{
     padding: 32px 0;
     background-color: #2a394f;
 }
 .menu{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
     z-index: 1000;
 }
 .logo{
     font-size: 24px;
     color: rgb(113, 80, 196);
     font-weight: 800;
     text-transform: uppercase;
 }
 .menu .navbar ul li{
     position: relative;
     float: left;
 }
 .menu .navbar ul li a{
     font-size: 18px;
     padding: 20px;
     color: #ffff;
     display: block;
 }
 .menu .navbar ul li a:hover{
     color: rgb(113, 80, 196);
 }
 #menu{
     display:none;
 }
 .menu-icono{
     width: 25px;
 }
 .menu label{
     cursor:pointer;
     display:none;
 }
 
 @media(max-widith:991px){
     .menu{
         padding: 30px;
     }
     .menu label{
         display: initial;
         
     }
     .back{
         padding: 47px 0;
     }
     .menu.navbar{
         position: absolute;
         top: 100%;
         left: 0;
         right: 0;
         background-color: #2a394f;
         display: none;
     }
     .menu.navbar ul li{
         width: 100%;
         
     }
     #menu:checked~.navbar{
         display: initial;
     }
 }


 
html{
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #003F5D;
    color:rgb(255, 255, 255);
}
#titulo {
   background-color: #2E4052;
   color:white;
   padding: 3rem 2rem;
   font-size: 4rem;
   text-align: center;
}
section article {
    
    transition: box-shadow 0.3 sease;
    background-color: #000000;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem;
    cursor: pointer;
}
.contenido {
    width: 400px;
    margin: 0 auto;
}
section article:hover {
    box-shadow: 0 0.20rem 0.15rem rgb(113, 80, 196);

}
#logo {

    width:60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: solid;
    padding: 20px;
    transition: all 0.5s ease;
}
img{
    transition: all 0.5s linear;
}
h2{
    color: #ffbb00;
}
table,th,td{
    border: 1px solid rgb(255, 255, 255);
}